<form method="post" class="flex flex-col gap-4 max-w-2xl mx-auto">
  <label class="form-control">
    <div class="label-text">Title</div>
    <input name="title" class="input input-primary" />
  </label>

  <label class="form-control">
    <div class="label-text">Content</div>
    <textarea name="content" class="textarea textarea-primary"></textarea>
  </label>

  <button class="btn">Create Post</button>
</form>
