<form method="POST" class="flex flex-col gap-4 max-w-2xl mx-auto">
  <label class="form-control"><span>Username</span> <input class="input input-primary" name="username" /></label>
  <label class="form-control"><span>Password</span> <input class="input input-primary" name="password" type="password" /></label>
  <button class="btn">Sign Up</button>
</form>
